@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

/* Global Declarations */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.clearfix:before, .clearfix:after {
  width: 100%;
  display: table;
  content: '';
}
.container{
  max-width: 100%;
  width: 80%;  
  margin: 0 auto;
  padding: 15px;
  border: 3px solid black;
}
.fl{
  float: left;
}
.fr{
  float: right;
} 

button.addmore,
button.submit,
button.addchild,
button.delete,
button.delete1{
  border: none;
  padding: 10px;
  width: 13%;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

button.delete1{
  width: 17%;
}
button.addmore,button.submit{
  background-color: #70cd14f5;

}
button.addchild{
  background-color: black;

}
button.delete,button.delete1{
  background-color: red;
}
input.title{
  padding-top: 4px;
  width: 43%;
  padding-bottom: 4px;
  font-size: 14px;
  padding-left: 10px;

}
.left{
  width: 60%;
}
input.subtitle,
input.value{
 
  font-size: 14px;
  padding: 3px 20px 3px 5px;
  margin-right: 10px;
  
}
.block{
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.inside-btn.fl {
  width: 100%;
  padding: 15px;
}
.child{
  width: 93%;
  border: 1px solid rgb(255, 193, 0 );

  padding: 10px 16px;
  margin-top: 10px;
}
.specification{
  color: #000;
  text-align: center;
  width: 40%;
}
table{
  width: 100%;
}
.details {
  width: 95%;
  text-align: left;
  padding-left: 59px;
}
table, tr, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  margin-bottom: 20px;
}
.tab1{
  margin: 5px;
  padding: 2px;
}
td{
  width: 50%;
}
button.btn.btn-secondary.btn-default.bootbox-cancel {
  background-color: red;
}
.modal-content {
  background-color: aliceblue;
}
.blank{
  display: none;
}
button.btn.btn-primary.bootbox-accept{
  border: 3px solid #005dd1e0;
}
button.btn.btn-secondary.btn-default.bootbox-cancel{
  border: 3px solid #c7454594;
}
.modal-dialog{
  top: 30%;
}
input#myInput{
  padding-left: 7px;
  margin-right: 96px;
  text-align: left;
  margin-top: 10px;
}

