/* Fonts & Icons */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'); */

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css') */

/* Global Declarations */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    width: 30%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix:before,
.clearfix:after {
    width: 100%;
    display: table;
    content: '';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
    color: blue;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
.box{
    height: 67px;
    background: black;
    width: 72px;
    display: inline-block;
    margin: 6px;
    box-shadow: 6px 5px 6px blueviolet;
}
.bg1{
    background: rgb(55, 102, 190);
}
.bg3{
    background: black;
}
.fa{
    color: black;
    padding-left: 0px;
    font-size: 25px;
    padding-top: 21px;
}
.bg2{
    background: orange;
}
input{
    padding: 5px;
}
button{
    padding: 6px;
}
.write{
    margin: 0 auto;
    text-align: center;
}
.boxes{
    text-align: center;
    padding-top: 20px;
}